@charset "UTF-8";

/* 

Typical Devices Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima 1200px

*/

@media screen and (min-width: 768px) {
    span#burger{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}